<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand py-0 px-3" href="#" style="">
    <img height="50px" src="assets/img/nx-logo-50.png" />
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="btn-group btn-group-sm" role="group">
          <button
            [disabled]="transService.getActiveLang() == 'fr'"
            type="button"
            (click)="setLang('fr')"
            class="btn btn-sm btn-outline-light"
          >
            <span class="flag-icon flag-icon-fr"></span>
          </button>
          <button
            [disabled]="transService.getActiveLang() == 'en'"
            type="button"
            (click)="setLang('en')"
            class="btn btn-sm btn-outline-light"
          >
            <span class="flag-icon flag-icon-gb"></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>
